<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gundam.unicorn.main.dao.PersonDao">
  <resultMap id="BaseResultMap" type="com.gundam.unicorn.entity.Person">
    <id column="ID" jdbcType="VARCHAR" property="id" />
    <result column="PERSON_NAME" jdbcType="VARCHAR" property="personName" />
    <result column="PERSON_CODE" jdbcType="VARCHAR" property="personCode" />
    <result column="LIST_TYPE" jdbcType="VARCHAR" property="listType" />
    <result column="SEX" jdbcType="VARCHAR" property="sex" />
    <result column="BIRTHDAY" jdbcType="DATE" property="birthday" />
    <result column="ADDERS" jdbcType="VARCHAR" property="adders" />
    <result column="PHONE" jdbcType="VARCHAR" property="phone" />
    <result column="PHONE_TWO" jdbcType="VARCHAR" property="phoneTwo" />
    <result column="PLATE_NUMBER" jdbcType="VARCHAR" property="plateNumber" />
    <result column="FACE_IMG" jdbcType="VARCHAR" property="faceImg" />
    <result column="FACE_ID" jdbcType="VARCHAR" property="faceId" />
    <result column="DEPT_CODE" jdbcType="VARCHAR" property="deptCode" />
    <result column="DEPT_NAME" jdbcType="VARCHAR" property="deptName" />
    <result column="VALIDDATE" jdbcType="DATE" property="validDate" />
    <result column="STATUS" jdbcType="INTEGER" property="status" />
    <result column="CREATE_DATA" jdbcType="TIMESTAMP" property="createData" />
    <result column="CREATE_NAME" jdbcType="VARCHAR" property="createName" />
    <result column="REMARK" jdbcType="VARCHAR" property="remark" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--
      WARNING - @mbg.generated
      This element is automatically generated by MyBatis Generator, do not modify.
    -->
    ID, PERSON_NAME, PERSON_CODE, LIST_TYPE, SEX, BIRTHDAY, ADDERS, PHONE, PHONE_TWO, 
    PLATE_NUMBER, FACE_IMG, FACE_ID, DEPT_CODE, DEPT_NAME, VALIDDATE, STATUS, CREATE_DATA, 
    CREATE_NAME, REMAEK
  </sql>


  <!--根据id查找对象-->
  <select id="findById" parameterType="java.lang.String" resultType="com.gundam.unicorn.entity.Person">
    <!--
      WARNING - @mbg.generated
      This element is automatically generated by MyBatis Generator, do not modify.
    -->
    select 
    <include refid="Base_Column_List" />
    from unicorn_person
    where ID = #{id,jdbcType=VARCHAR}
  </select>


  <!--根据id删除对象-->
  <delete id="delete" parameterType="java.lang.String">
    <!--
      WARNING - @mbg.generated
      This element is automatically generated by MyBatis Generator, do not modify.
    -->
    delete from unicorn_person
    where ID = #{id,jdbcType=VARCHAR}
  </delete>



  <!--添加对象-->
  <insert id="add" parameterType="com.gundam.unicorn.entity.Person">
    <!--
      WARNING - @mbg.generated
      This element is automatically generated by MyBatis Generator, do not modify.
    -->
    insert into unicorn_person (ID, PERSON_NAME, PERSON_CODE,
      LIST_TYPE, SEX, BIRTHDAY, 
      ADDERS, PHONE, PHONE_TWO, 
      PLATE_NUMBER, FACE_IMG, FACE_ID, 
      DEPT_CODE, DEPT_NAME, VALIDDATE, 
      STATUS, CREATE_DATA, CREATE_NAME, 
      REMAEK)
    values (#{id,jdbcType=VARCHAR}, #{personName,jdbcType=VARCHAR}, #{personCode,jdbcType=VARCHAR}, 
      #{listType,jdbcType=VARCHAR}, #{sex,jdbcType=VARCHAR}, #{birthday,jdbcType=DATE}, 
      #{adders,jdbcType=VARCHAR}, #{phone,jdbcType=VARCHAR}, #{phoneTwo,jdbcType=VARCHAR}, 
      #{plateNumber,jdbcType=VARCHAR}, #{faceImg,jdbcType=VARCHAR}, #{faceId,jdbcType=VARCHAR}, 
      #{deptCode,jdbcType=VARCHAR}, #{deptName,jdbcType=VARCHAR}, #{validdate,jdbcType=DATE}, 
      #{status,jdbcType=INTEGER}, #{createData,jdbcType=TIMESTAMP}, #{createName,jdbcType=VARCHAR}, 
      #{remaek,jdbcType=VARCHAR})
  </insert>


  <!--通过id更新对象-->
  <update id="modify" parameterType="com.gundam.unicorn.entity.Person">
    <!--
      WARNING - @mbg.generated
      This element is automatically generated by MyBatis Generator, do not modify.
    -->
    update unicorn_person
    set PERSON_NAME = #{personName,jdbcType=VARCHAR},
      PERSON_CODE = #{personCode,jdbcType=VARCHAR},
      LIST_TYPE = #{listType,jdbcType=VARCHAR},
      SEX = #{sex,jdbcType=VARCHAR},
      BIRTHDAY = #{birthday,jdbcType=DATE},
      ADDERS = #{adders,jdbcType=VARCHAR},
      PHONE = #{phone,jdbcType=VARCHAR},
      PHONE_TWO = #{phoneTwo,jdbcType=VARCHAR},
      PLATE_NUMBER = #{plateNumber,jdbcType=VARCHAR},
      FACE_IMG = #{faceImg,jdbcType=VARCHAR},
      FACE_ID = #{faceId,jdbcType=VARCHAR},
      DEPT_CODE = #{deptCode,jdbcType=VARCHAR},
      DEPT_NAME = #{deptName,jdbcType=VARCHAR},
      VALIDDATE = #{validdate,jdbcType=DATE},
      STATUS = #{status,jdbcType=INTEGER},
      CREATE_DATA = #{createData,jdbcType=TIMESTAMP},
      CREATE_NAME = #{createName,jdbcType=VARCHAR},
      REMAEK = #{remaek,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=VARCHAR}
  </update>


  <!--根据查询条件查询对象-->
  <select id="selectBySearch" parameterType="com.gundam.unicorn.entity.Person" resultType="com.gundam.unicorn.entity.Person">
      select * from unicorn_person
      <where>
        <if test="personName != null">
          PERSON_NAME = #{personName,jdbcType=VARCHAR}
        </if>
        <if test="personCode != null">
          AND PERSON_CODE = #{personCode,jdbcType=VARCHAR}
        </if>
        <if test="sex != null">
          AND SEX = #{sex,jdbcType=VARCHAR}
        </if>
        <if test="phone != null">
          AND PHONE = #{phone,jdbcType=VARCHAR}
        </if>
        <if test="deptCode != null">
          AND DEPT_CODE = #{deptCode,jdbcType=VARCHAR},
        </if>
        AND STATUS = 1;
      </where>
  </select>

  <!-- 查询所有字段 -->
  <select id="get" resultType="com.gundam.unicorn.entity.Person">
        select * from unicorn_person where status = 1;
  </select>

  <!--通过登陆名获取用户-->
  <select id="findUserByUserName" resultType="java.lang.String">
        select upassword from unicorn_person where ustaffno=#{userName}
    </select>

  <!-- 获取用户的角色 -->
  <select id="getUserRole" resultType="java.lang.String" parameterType="String">
        select b.rkey from unicorn_person a,unicorn_role b where ustaffno=#{userName} and a.urole=b.rid
    </select>

  <!-- 获取用户所拥有的权限 -->
  <select id="getUserRolePowers" resultType="map" parameterType="String">
        select d.pid,d.pname,d.plevel from unicorn_person a,unicorn_role_permission c,unicorn_permission d where ustaffno=#{userName} and a.urole=c.rid and c.pid=d.pid
    </select>
</mapper>