<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gundam.unicorn.main.dao.PersonDao">
  <resultMap id="BaseResultMap" type="com.gundam.unicorn.entity.Person">
    <id column="ID" jdbcType="VARCHAR" property="id" />
    <result column="Person_Name" jdbcType="VARCHAR" property="personName" />
    <result column="Person_Code" jdbcType="VARCHAR" property="personCode" />
    <result column="List_Type" jdbcType="VARCHAR" property="listType" />
    <result column="Sex" jdbcType="VARCHAR" property="sex" />
    <result column="Birthday" jdbcType="TIMESTAMP" property="birthday" />
    <result column="Adders" jdbcType="VARCHAR" property="adders" />
    <result column="Phone" jdbcType="VARCHAR" property="phone" />
    <result column="Phone_Two" jdbcType="VARCHAR" property="phoneTwo" />
    <result column="Plate_Number" jdbcType="VARCHAR" property="plateNumber" />
    <result column="Face_Img" jdbcType="VARCHAR" property="faceImg" />
    <result column="Face_Id" jdbcType="VARCHAR" property="faceId" />
    <result column="Role_Id" jdbcType="VARCHAR" property="roleId" />
    <result column="Role_Name" jdbcType="VARCHAR" property="roleName" />
    <result column="Dept_Code" jdbcType="VARCHAR" property="deptCode" />
    <result column="Dept_Name" jdbcType="VARCHAR" property="deptName" />
    <result column="Valid_Date" jdbcType="TIMESTAMP" property="validDate" />
    <result column="Status" jdbcType="INTEGER" property="status" />
    <result column="Create_Date" jdbcType="TIMESTAMP" property="createData" />
    <result column="Create_Name" jdbcType="VARCHAR" property="createName" />
    <result column="Remark" jdbcType="VARCHAR" property="remark" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--
      WARNING - @mbg.generated
      This element is automatically generated by MyBatis Generator, do not modify.
    -->
    ID, Person_Name, Person_Code, List_Type, Sex, Birthday, Adders, Phone, Phone_Two,
    Plate_Number, Face_Img, Face_Id, Role_Id, Role_Name, Dept_Code, Dept_Name, Valid_Date, `Status`, Create_Date,
    Create_Name, Remark
  </sql>


  <!--根据id查找对象-->
  <select id="findById" parameterType="java.lang.String" resultType="com.gundam.unicorn.entity.Person">
    <!--
      WARNING - @mbg.generated
      This element is automatically generated by MyBatis Generator, do not modify.
    -->
    select 
        <include refid="Base_Column_List" />
    from TB_Person
    where ID = #{id,jdbcType=VARCHAR}
  </select>


  <!--根据id删除对象-->
  <delete id="delete" parameterType="java.lang.String">
    <!--
      WARNING - @mbg.generated
      This element is automatically generated by MyBatis Generator, do not modify.
    -->
    update TB_Person set
    `Status` = 0
    where ID = #{id,jdbcType=VARCHAR}
  </delete>



  <!--添加对象-->
  <insert id="add" parameterType="com.gundam.unicorn.entity.Person">
    <!--
      WARNING - @mbg.generated
      This element is automatically generated by MyBatis Generator, do not modify.
    -->
    insert into TB_Person (ID, Person_Name, Person_Code,
      List_Type, Sex, Birthday,
      Adders, Phone, Phone_Two,
      Plate_Number, Face_Img, Face_Id,
      Role_Id, Role_Name,
      Dept_Code, Dept_Name, Valid_Date,
      Status, Create_Date, Create_Name,
      Remark)
    values (#{id,jdbcType=VARCHAR}, #{personName,jdbcType=VARCHAR}, #{personCode,jdbcType=VARCHAR}, 
      #{listType,jdbcType=VARCHAR}, #{sex,jdbcType=VARCHAR}, #{birthday,jdbcType=DATE}, 
      #{adders,jdbcType=VARCHAR}, #{phone,jdbcType=VARCHAR}, #{phoneTwo,jdbcType=VARCHAR}, 
      #{plateNumber,jdbcType=VARCHAR}, #{faceImg,jdbcType=VARCHAR}, #{faceId,jdbcType=VARCHAR},
      #{roleId, jdbcType=VARCHAR}, #{roleName, jdbcType=VARCHAR},
      #{deptCode,jdbcType=VARCHAR}, #{deptName,jdbcType=VARCHAR}, #{validdate,jdbcType=DATE}, 
      #{status,jdbcType=INTEGER}, #{createData,jdbcType=TIMESTAMP}, #{createName,jdbcType=VARCHAR}, 
      #{remaek,jdbcType=VARCHAR})
  </insert>


  <!--通过id更新对象-->
  <update id="modify" parameterType="com.gundam.unicorn.entity.Person">
    <!--
      WARNING - @mbg.generated
      This element is automatically generated by MyBatis Generator, do not modify.
    -->
    update TB_Person
    set Person_Name = #{personName,jdbcType=VARCHAR},
      Person_Code = #{personCode,jdbcType=VARCHAR},
      List_Type = #{listType,jdbcType=VARCHAR},
      Sex = #{sex,jdbcType=VARCHAR},
      Birthday = #{birthday,jdbcType=DATE},
      Adders = #{adders,jdbcType=VARCHAR},
      Phone = #{phone,jdbcType=VARCHAR},
      Phone_Two = #{phoneTwo,jdbcType=VARCHAR},
      Plate_Number = #{plateNumber,jdbcType=VARCHAR},
      Face_Img = #{faceImg,jdbcType=VARCHAR},
      Face_Id = #{faceId,jdbcType=VARCHAR},
      Role_Id = #{roleId, jdbcType=VARCHAR},
      Role_Name = #{roleName, jdbcType=VARCHAR},
      Dept_Code = #{deptCode,jdbcType=VARCHAR},
      Dept_Name = #{deptName,jdbcType=VARCHAR},
      Valid_Date = #{validdate,jdbcType=DATE},
      Status = #{status,jdbcType=INTEGER},
      Create_Date = #{createData,jdbcType=TIMESTAMP},
      Create_Name = #{createName,jdbcType=VARCHAR},
      Remark = #{remaek,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=VARCHAR}
  </update>


  <!--根据查询条件查询对象-->
  <select id="selectBySearch" parameterType="com.gundam.unicorn.entity.Person" resultType="com.gundam.unicorn.entity.Person">
      select * from TB_Person
      <where>
        <if test="personName != null">
          PERSON_NAME = #{personName,jdbcType=VARCHAR}
        </if>
        <if test="personCode != null">
          AND PERSON_CODE = #{personCode,jdbcType=VARCHAR}
        </if>
        <if test="sex != null">
          AND SEX = #{sex,jdbcType=VARCHAR}
        </if>
        <if test="phone != null">
          AND PHONE = #{phone,jdbcType=VARCHAR}
        </if>
        <if test="deptCode != null">
          AND DEPT_CODE = #{deptCode,jdbcType=VARCHAR},
        </if>
        AND STATUS = 1;
      </where>
  </select>

  <!-- 查询所有字段 -->
  <select id="get" resultType="com.gundam.unicorn.entity.Person">
        select * from TB_Person where status = 1;
  </select>

  <!--通过登陆名获取用户-->
  <select id="findUserByUserName" resultType="java.lang.String">
        select
        <include refid="Base_Column_List" />
        from TB_Person where Person_Name = #{userName}
    </select>
</mapper>